body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}

h3 {
	color: #1abc9c;
}

p {
	font-size: 16px;
}

.margin {
	margin-bottom: 45px;
}

.bg-1 {
	background-color: #1abc9c; /* Green */
	color: #ffffff;
}

.bg-2 {
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
}

.bg-3 {
	background-color: #ffffff; /* White */
	color: #555555;
}

.bg-4 {
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}

.navbar-nav  li a:hover {
	color: #1abc9c !important;
}

.panel-body {
	background:#1abc9c;
	
}

.panel {
	width : 50%;
	margin-left : 5em;
}



.selected_word {
	background : #555555;
	opacity: 0.5;
}

.founded_word {
	background : #c6c8bd;
	opacity: 0.8;
}

.plain_word {
	background : #1abc9c;
}

.timerH {
	margin-top : 0%;
}

.timerDiv {
	float: left;
    width: 2%;
    margin-left: 0%;
    margin-bottom: 0%;
    height: 10%;
}

.letters {
	width: 7.5%;
	margin : 2px; 
	cursor: default;
}


/**
 * The "shine" element
 */

.icon-effect {
	-webkit-box-shadow: 0px 0px 10px 5px #f2e1f2;
	-moz-box-shadow: 0px 0px 10px 5px #f2e1f2;
	box-shadow: 0px 0px 10px 5px #f2e1f2;
}